package ui

type AlertType string

const (
	AlertTypeInfo    AlertType = "alert-info"
	AlertTypeSuccess AlertType = "alert-success"
	AlertTypeWarning AlertType = "alert-warning"
	AlertTypeError   AlertType = "alert-error"
)

var (
	cssAlert = map[AlertType]string{
		AlertTypeInfo:    "alert-info",
		AlertTypeSuccess: "alert-success",
		AlertTypeWarning: "alert-warning",
		AlertTypeError:   "alert-error",
	}

	cssAlertIcon = map[AlertType]string{
		AlertTypeInfo:    "ph-info",
		AlertTypeSuccess: "ph-check-circle",
		AlertTypeWarning: "ph-warning",
		AlertTypeError:   "ph-warning-circle",
	}
)

type PropsAlert struct {
	Label string
	Type  AlertType
}

templ Alert(props PropsAlert) {
	@alert(props.Label, props.Type, NanoID())
}

templ alert(label string, typ AlertType, baseID string) {
	<div hx-swap-oob="beforeend:#toastContainer">
		<div
			id={ "toastNotif_" + baseID }
			role="alert"
			class={ "alert", cssAlert[typ], "mt-4 pointer-events-auto" }
		>
			@icon("", "text-xl "+cssAlertIcon[typ])
			<span>{ label }</span>
			<button id={ "toastDismissBtn_" + baseID } class="btn btn-ghost btn-square cursor-pointer h-6 w-6">
				@icon("", "ph-x text-xl")
			</button>
		</div>
		@templ.JSFuncCall(
			"dismissAlert",
			"toastNotif_"+baseID,
			"toastDismissBtn_"+baseID,
			6,
		)
	</div>
}
