package ui

type propsModal struct {
	CSS string
}

templ modal(props propsModal) {
	<dialog open id="modal" class="modal overscroll-none">
		<div
			id="modal-box"
			class={ "modal-box bg-base-100", props.CSS }
		>
			{ children... }
		</div>
		@templ.JSFuncCall("dialogEventHandler", "modal")
	</dialog>
}
