package ui

templ progress() {
	<div class="w-full flex flex-col items-center justify-center ">
		<progress
			id="progress-indicator"
			class={ "progress progress-accent w-full h-1 htmx-indicator" }
		></progress>
	</div>
}
