@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import "tailwindcss";
@tailwind utilities;

@import "tailwindcss" source("./ui/*.templ");

@plugin "daisyui" {
  themes: emerald --default, synthwave;
  root: ":root";
  logs: true;
}

@custom-variant dark (&:where([data-theme=synthwave], [data-theme=synthwave] *));

.font-pad {
  font-family: "Space Grotesk", "Avenir Next", "Trebuchet MS", sans-serif;
}

.htmx-request .HideOnRequest {
  display: none;
}

.ShowOnRequest {
  display: none;
}

.htmx-request .ShowOnRequest {
  display: inline-flex;
}
